---
---
<!DOCTYPE HTML>
<html>
  <head>
    <script src="/js/jquery.min.js" async=""></script>
    <script src="/js/masonry.pkgd.min.js" async=""></script>
    <link href="/css/maitree.css" type="text/css" rel="stylesheet">
    <link href="/css/oswalk.css" type="text/css" rel="stylesheet">
    <link href="/css/styles.css" type="text/css" rel="stylesheet">
    <title>Pymiento | The Pymiento Project</title>
  </head>
  <body>
    <div class="logo" id="fondo" >
<script type="text/javascript">
  var num = Math.floor(Math.random() * 2) ;
  var path = 'url("/img/bg' + num + '.jpg")';
  document.getElementById("fondo").style.backgroundImage = path;
</script>
      <div class="social">
  {% for cada in site.socials %}
        <a href="{{ cada.url }}" target="_blank"><img src="/img/{{ cada.img }}"></a>
  {% endfor %}
      </div>
      <a href="/"><img src="/img/logo2.png" id="logo"></a>
      </div>
      <div class="content">
        <div class="menu">
{% for cada in site.menu %}
          <a href="{{ cada.url }}">{{ cada.text }}</a>
{% endfor %}
        </div>
       <h1>{{ page.title }}</h1>
       <h2>{{ page.abstract }}</h2>
       <p>{{ page.intro }}</p>
       </div>
 
 {{ page.hack }}
     {{ content }}
    </div>
  </body>
</html>
